<?xml version="1.0" encoding="UTF-8" standalone="no"?><Container><Successfully>Created</Successfully><CONNECTION_IP>ipcwup.no-ip.biz</CONNECTION_IP><CONNECTION_Port>6776</CONNECTION_Port><CONNECTION_Idletime>10</CONNECTION_Idletime><CONNECTION_Packetdivider>_:_</CONNECTION_Packetdivider><LOGIN_Name>BEJOSCH1</LOGIN_Name></Container>